{% extends "base.html" %}

{% block title %}Home Security{% endblock%}

{% block styles %}
<style>
.hero-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-body .title {
  color: white;
}
</style>
{% endblock %}

{% block content %}
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1"><b>We are Delta Security</b></h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
  	<div class="content">
	  	<h2 class="title is-3">a <b>locally owned</b> and family operated <b>security company</b>. We have been providing <b>homes and businesses</b> with outstanding service for <b>over 30 years</b>.</h2>
	  	<p>Gain <b>more control</b> of your life by <b>saving time and money</b> with a professionally installed security system by <b>Delta Security</b>.  We offer <b>low</b> monthly monitoring costs. <u>Current service contracts with other companies can also be updated and enhanced with new features installed by Delta Security</u>. </p>
		<p>With <b>competitive pricing</b> and <b>unbeatable customer service</b> you will be thrilled with your new custom security system for your home or business giving you peace of mind knowing that <i>“Delta Security Has Got You Covered”</i>. So what are you waiting for?</p>
		<p><b>Can You Afford Not to be Protected?</b></p>
		<p>Pennsylvania Home Improvement Contractor Registration Number: PA052548</p>  		
  	</div>
  </div>  
</section>
{% endblock%}