<!DOCTYPE html>
<html lang="en" >
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>TEST | Delta Security</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>

<style>
.hero-body {
  background-image: url('./img/hs-header.png');
  background-size: cover;  
  background-position: center center;
  background-repeat: no-repeat;
  /*height: 300px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-body .title {
  color: white;
  /*font-size: 42px;*/
  letter-spacing: 5px;
}

.hero-body .subtitle {
  color: white;
  letter-spacing: 2px;
}


.section {
  background-color: white;
}

.col-block {
  background: #ddd;
  height: 100%;
  padding: 1.25em;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
  color: #20bc56;
}

.footer-contact a {
  color: #4a4a4a;
}

.footer-contact a:hover {
  color: #20bc56;
}

a.green-link {
  color: #20bc56;
}

a.green-link:hover {
  color: #199a45;
}

.icon.is-large {
  margin-bottom: 0.5em;
}

.col-block > header {
  margin-bottom: 0.5em;
}

.navbar {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(102,102,102,0.31);
  -moz-box-shadow: 0px 2px 3px 0px rgba(102,102,102,0.31);
  box-shadow: 0px 2px 3px 0px rgba(102,102,102,0.31);
}
</style>

</head>
<body class="has-navbar-fixed-top">
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="./index.html" style="font-size: 1.25em;">
        <img id="navbar-logo" src="./img/ds-toplogo.png" width="112" height="100" style="max-height: 5em;" />
        <b>DELTA SECURITY</b>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">Home Security</a>
        <a class="navbar-item">Business Security</a>
        <a class="navbar-item">About</a>
        <a class="navbar-item">Contact</a> 
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="tel:2157529189">
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          <span>215-752-9189</span>
        </a>
        <a class="navbar-item" href="mailto:info@deltasecurityonline.com">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span>info@deltasecurityonline.com</span>
        </a>
      </div>

    </div>
  </div>
</nav>

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">Home Security</h1>
      <h2 class="subtitle is-4">Custom-tailored <b>residential security solutions</b> to protect what matters most.</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <h3 class="title is-3 has-text-centered"><b>Delta Security</b> has got you covered!</h3>
      <p><b>Emergencies</b> do not happen often, but when they do <b>you better be prepared</b>. That's where Delta can help. Our <b>constantly monitored systems</b> will ensure the <b>quickest response times</b> in case an emergency does arise and you will immediately be alerted from your internet-connected mobile device <b>no matter where</b> you are in the world.</p>
      <p>For over thirty years, <b>Delta Security</b> has been designing and installing <b>custom burglar, fire, and video surveillance systems</b> to fit our customers' <b>individual needs</b>. No matter how old or new, finished or unfinished your home is, <b>Delta Security</b> can design and install a system that best fits your needs and budget.</p>
      <p>By tailoring the system to your needs, we can <b>integrate</b> security, cameras, lighting, thermostat, locks, garage doors, <b>and more</b> into one <b>easy-to-use mobile app</b> that keeps you connected to your home <b>from anywhere in the world</b>.</p>          
    </div>

    <div style="max-width: 960px; margin: 0 auto 2em;">
      <h3 class="title has-text-centered">Burglar</h3>
      <div class="columns">
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Wireless Sensors</h4>
            <p>Provide maximum adaptability and protection to your residence with the freedom of wireless window and door sensors.</p>
          </div>
        </div>
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Pet-friendly Motion Detectors</h4>
            <p>Allow for animals under 50 pounds to go undetected by your burglar alarm system.</p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Battery Backup</h4>
            <p>Even when your power goes out, you can rest assured that your home will continue to be monitored as all of our panels are connected to a <b>battery backup</b> that will last for up to 24 hours.</p>
          </div>
        </div>
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Yard Signs and Window Decals</h4>
            <p>Deter burglary, theft, and vandalism with our <b>yard signs and window decals</b>. Potential intruders and wrongdoers are more likely to avoid homes with our sign in your lawn.</p>
          </div>
        </div>
      </div>  
    </div>

    <div style="max-width: 960px; margin: 0 auto 2em;">
      <h3 class="title has-text-centered">Fire</h3>
      <div class="columns">
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Smoke Detectors</h4>
            <p><b>Smoke detectors</b> identify smoke particles that could possibly be an indicator of the early stages of a fire. They are located through out the house, one per level minimum. </p>
          </div>
        </div>
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Heat Dectectors</h4>
            <p><b>Heat detectors</b> should be installed in areas that smoke detectors do not perform well. These are usually areas that are exposed to higher or lower temperatures such as an attic or garage. High dust concentration may cause false alarms in smoke detectors.</p>
          </div>
        </div>
      </div>        
      <div class="columns">
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Conventional Smoke Detectors</h4>
            <p><b>Standalone smoke detectors</b> are battery powered and are not connected to any fire alarm system to contact the fire department for an emergency response. They are only capable of alerting people nearby that there is smoke and not saving your life.</p>
          </div>
        </div>
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Monitored Smoke Detectors</h4>
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <div style="max-width: 960px; margin: 0 auto 2em;">
      <h3 class="title has-text-centered">Cameras</h3>
      <div class="columns">
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Conventional Smoke Detectors</h4>
            <p></p>
          </div>
        </div>
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Monitored Smoke Detectors</h4>
            <p></p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Heat Detectors</h4>
            <p></p>
          </div>
        </div>
        <div class="column">
          <div class="col-block">
            <h4 class="title is-4 has-text-centered">Carbon Monoxide Dectectors</h4>
            <p></p>
          </div>
        </div>
      </div>  
    </div>

    <div class="content">
      <h4 class="title is-4">Cameras</h4>
      <ul>
        <li>Access and view remotely</li>
        <li>Save video to the cloud to view later</li>
      </ul>
    </div>
    <div class="content">
      <h4 class="title is-4">Home Automation</h4>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content">
    <div class="columns">
      <div class="column">
        <h3 class="title is-3">ABOUT US</h3>
        <div class="content">
          <p>We are <b>Delta Security</b>, a locally owned and family operated security company. We have been providing homes and businesses with <b>outstanding service for over 30 years</b>.</p>
          <p>Gain more control of your life by saving time and money with a professionally installed security system by <b>Delta Security</b>.  We offer low monthly monitoring costs. Current service contracts with other companies can also be updated and enhanced with new features installed. </p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h3 class="title is-3">POWERED BY</h3>
          <figure class="image"><img src="./img/alarm-black.png" style="width: 15em;" /></figure>
          <figure class="image"><img src="./img/hw-black.png" style="width: 15em;" /></figure>
          <figure class="image"><img src="./img/ge-black.png" style="width: 6.5em;" /></figure>
          <figure class="image"><img src="./img/am-black.png" style="width: 15em;" /></figure>
        </div>
      </div>
      <div class="column footer-contact">
        <h3 class="title is-3">CONTACT US</h3>
        <div class="content">
          <p>
            <span class="icon">
              <i class="fas fa-phone"></i>
            </span>    
            <a>215-752-9189</a>
          </p>
          <p>
            <span class="icon">
              <i class="fas fa-fax"></i>
            </span>    
            <a>215-741-6419</a>
          </p>
          <p>
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>    
            <a href="mailto:info@deltasecurityonline.com">info@deltasecurityonline.com</a>
          </p>
        </div>
      </div>
    </div>
    <p class="is-size-7"><span>© Copyright <span id="c-year"></span> Delta Security, LLC.</span> | <span>Developed by <a href="" class="green-link">Ian Rockefeller</a></span></p>
  </div>
</footer>
</body>
<script>
$(document).ready(function() {

  // HELPER FUNCTIONS
  function checkForMultilineBreak() {
    if($(window).width() <= 1280) {
      $('.is-multiline > .column').addClass('is-half');
      $('#navbar-logo').hide();
      $('body').css('padding-top', '3.25rem');
    } else {
      $('.is-multiline > .column').removeClass('is-half');
      $('#navbar-logo').show();
      $('body').css('padding-top', '7rem');
    }    
  }

  function initCopyrightYear() {
    $('#c-year').html((new Date()).getFullYear());
  }

  // Put all helper functions here
  function initOnReady() {
    checkForMultilineBreak();
    initCopyrightYear();
  }


  $(window).resize(function() {
    checkForMultilineBreak();
  });

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });

  // init custom on ready code
  initOnReady();
});
</script>
</html>